.sidebar {
    width: 260px;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
     

    padding: 24px 16px;
    display: flex;
    flex-direction: column;

    background: #ffffff;

    border-right: 1px solid #e2e8f0;

    flex-shrink: 0;
}


.logo {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-bottom: 32px;
}

.logo h2 {
    font-size: 28px;
    font-weight: 700;

    color: #1e293b;
}

.logoIcon {
    width: 52px;
    height: 52px;

    border-radius: 14px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logoIcon img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


.nav {
    display: flex;
    flex-direction: column;

    gap: 6px;
}

.menu {
    width: 100%;

    display: flex;
    align-items: center;

    gap: 14px;

    padding: 14px 16px;

    border: none;
    border-radius: 14px;

    background: transparent;

    color: #64748b;

    font-size: 15px;
    font-weight: 500;

    cursor: pointer;

    transition: 0.2s ease;
}

.menu:hover {
    background: #f8fafc;

    color: #334155;
}

.menuAtivo {
    width: 100%;

    display: flex;
    align-items: center;

    gap: 14px;

    padding: 14px 16px;

    border-radius: 14px;

    border: 1px solid rgba(15, 166, 179, 0.25);

    background: rgba(15, 166, 179, 0.12);

    color: #0fa6b3;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s ease;
}


.missaoCard {
    margin-top: auto;

    padding: 24px 18px;

    background: #eefcff;

    border: 1px solid #cceef2;

    border-radius: 20px;

    text-align: center;
}

.missaoIcon {
    width: 70px;
    height: 70px;

    margin: 0 auto 16px;

    border-radius: 18px;

    background: linear-gradient(
        135deg,
        #d8f7fb,
        #c6e6ff
    );

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
}

.missaoCard h3 {
    font-size: 18px;
    font-weight: 700;

    color: #1e293b;

    margin-bottom: 8px;
}

.missaoCard p {
    font-size: 14px;

    color: #64748b;

    line-height: 1.5;

    margin-bottom: 18px;
}

.missaoCard button {
    width: 100%;
    height: 44px;

    border: none;
    border-radius: 12px;

    background: #0fa6b3;

    color: white;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s ease;
}

.missaoCard button:hover {
    background: #0c95a1;
}

