.layout {
    display: flex;
    min-height: 100vh;
}

.conteudo {
    flex: 1;
    margin-left:250px;
    display: block;
    min-width: 0;
    background: #f8fafc;
    /*overflow-y: auto;*/
}

.conteudoFechado{
    margin-left:80px;
}

.dark{
    background:#0f172a;
}

.dark *{
    border-color:#2A3153;
}