.layout {
    display: flex;
    min-height: 100vh;
}

.conteudo {
    flex: 1;
    /*margin-left:250px;
    padding: 24px;*/
    display: block;
    min-width: 0;
    background: #f8fafc;
    overflow-y: auto;
}