
.landing {
    min-height: 100vh;
    min-width: 100%;
    background: #f7fafc;
}

.navbar {
    height: 80px;
    padding: 0 70px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;

    border-bottom: 1px solid #e2e8f0;
}

.titulo {
    display: flex;
    align-items: center;
}

.logoRead {
    font-size: 30px;
    font-weight: 800;

    color: #0f172a;
}

.logoDuo {
    font-size: 30px;
    font-weight: 800;

    color: #0fa6b3;
}

.boxBotoes {
    display: flex;
    align-items: center;
    gap: 12px;
}

.botao_home{
     background-color: #f6f9ff;
    color: #0b1c2b;

    border: none;
    border-radius: 10px;

    height: 45px;
    min-width: 140px;

    padding: 0 20px;

    cursor: pointer;
    transition: 0.3s;
}