.botoes {
    background-color: #0fa6b3;
    color: #e3f2ff;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    height: 35px;
    min-width: 110px;

    padding: 0 20px;

    cursor: pointer;
    transition: 0.3s;
}

.botoes:hover {
    opacity: 0.8;
} 
